
.center {
	background-image:url('../img/bg.jpg');
	background-size:cover;
	height:900px;
	margin: 0px auto;
}
.center div {
	margin: 0px auto;
	height:100%;
	width:100%;
	align-content: center;
}



